.warning__title-label {
    -unity-text-align: upper-center;
    font-size: 20px;
    white-space: pre-wrap;
    margin-top: 28px;
    margin-bottom: 16px;
}

.warning__content-label {
    -unity-text-align: upper-center;
    font-size: 14px;
    white-space: pre-wrap;
}
